{{!-- Show a post card --}}
<a href="{{url}}" class="uk-link-reset">
	<div uk-scrollspy="cls: uk-animation-fade">
		<div class="uk-card uk-card-secondary">
			<div class="uk-cover-container uk-card-media-top">
				{{#checkIfAll featuredImage featuredImage.urlMd}}
					<img src="{{featuredImage.urlMd}}" alt="" uk-cover>
				{{else}}
					<img src="{{@config.custom.postDefaultHeaderImageUrl}}" uk-cover>
				{{/checkIfAll}}
				<canvas width="96" height="96"></canvas>
			</div>

			<div class="uk-card-header">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
						<img class="uk-border-circle" width="48" height="48" src="{{author.avatarImage.url}}" alt="Avatar">
					</div>
					<div class="uk-width-expand">
						<h3 class="uk-card-title uk-margin-remove-bottom">{{title}}</h3>
						<p class="uk-text-meta uk-margin-remove-top"><time>{{date createdAt "YYYY-MM-DD"}}</time></p>
					</div>
				</div>
			</div>

			<div
				class="uk-card-body uk-padding-remove-top uk-padding-remove-bottom"
			>
				<p>{{{excerpt}}}</p>
			</div>

			<div class="uk-card-footer">
				<p>{{mainTag.name}}</p>
			</div>
		</div>
	</div>
</a>
