{{! Front page; this file renders a front page with a list of the latest posts }}

{{> head}}
{{> navbar}}


{{! Portfolio }}
<div class="uk-section">
    <a id="portfolio"></a>

    <div
		class="uk-container uk-dark"
		uk-scrollspy="cls: uk-animation-slide-right"
	>
        <h2 class="uk-heading-divider">Portfolio</h2>

        {{> portfolio}}
    </div>
</div>
{{! /Portfolio }}

{{! Posts }}
<div class="uk-section">
    <a id="readings"></a>

    <div class="uk-container uk-dark" uk-scrollspy="cls: uk-animation-slide-right">
        <h2 class="uk-heading-divider">Readings</h2>
		{{> readings posts=posts featuredOnly=true }}
		{{#getPostByTags "post-index" ""}}
			<div class="uk-margin uk-flex uk-flex-right">
    			<div>
					<a class="uk-button uk-button-text" href="{{url}}">Show all articles</a>
				</div>
			</div>
		{{/getPostByTags}}
	</div>
</div>
{{! /Posts }}

{{! Hero }}
<div
	class="uk-section"
	uk-scrollspy="cls: uk-animation-fade"
>
    <a id="about-me"></a>

    <div class="uk-container">
        <div class="uk-grid uk-child-width-expand@s uk-flex-center" uk-grid>
            <div
				uk-scrollspy="cls: uk-animation-slide-left; delay: 500"
			>
				<h2 class="uk-heading-divider">{{@config.custom.heroTitle}}</h2>

				<div class="uk-hidden@m">{{{@config.custom.heroBody}}}</div>
				<div class="uk-visible@m uk-text-large">{{{@config.custom.heroBody}}}</div>
				{{#getAuthor 1}}
				<a href="{{url}}" class="uk-button uk-button-text">Read more</a>
				{{/getAuthor}}
            </div>
			<div class="uk-width-1-3@s">
				<img  class="uk-align-center" height="600" src="{{asset "images/about-me-image_orig.png"}}" />
			</div>
        </div>
    </div>
</div>
{{! /Hero }}

{{! Footer }}
{{> footer}}
{{! /Footer }}
