{{! Front page; this file renders a front page with a list of the latest posts }}

{{> head}}
{{> navbar}}


{{! Hero }}
<div class="uk-section uk-background-cover uk-background-top-right" style="background-image: url({{asset "images/about-me-image.png"}})" uk-scrollspy="cls: uk-animation-fade">
    <a id="about-me"></a>

    <div class="uk-container uk-container-expand uk-height-large" uk-height-match=".uk-overlay-primary > div" uk-height-viewport="min-height: 600">
        <div class="uk-grid-large uk-child-width-1-2@s" uk-grid>
            <div>
                <div class="uk-padding uk-overlay-primary" uk-scrollspy="cls: uk-animation-slide-left; delay: 500">
                    <h2 class="uk-heading-divider">{{@config.custom.heroTitle}}</h2>

                    <div class="uk-hidden@m">{{{@config.custom.heroBody}}}</div>
                    <div class="uk-visible@m uk-text-large">{{{@config.custom.heroBody}}}</div>
                    {{#getAuthor 1}}
                    <a href="{{url}}" class="uk-button uk-button-text">Read more</a>
                    {{/getAuthor}}
                </div>
            </div>
        </div>
    </div>
</div>
{{! /Hero }}

{{! Portfolio }}
<div class="uk-section">
    <a id="portfolio"></a>

    <div class="uk-container uk-dark" uk-scrollspy="cls: uk-animation-slide-right">
        <h2 class="uk-heading-divider">Portfolio</h2>

        {{> portfolio}}
    </div>
</div>
{{! /Portfolio }}

{{! Posts }}
<div class="uk-section">
    <a id="readings"></a>

    <div class="uk-container uk-dark" uk-scrollspy="cls: uk-animation-slide-right">
        <h2 class="uk-heading-divider">Readings</h2>

        <div class="uk-grid-small uk-child-width-1-2@m" uk-grid uk-height-match=".uk-card-body > p">
            {{#each posts}}
                {{#unless isHidden}}
                {{#checkIf template '!=' "portfolio"}}
                <div uk-scrollspy="cls: uk-animation-fade">
                    <div class="uk-card uk-card-secondary">
                        <div class="uk-cover-container uk-card-media-top">
                            {{#checkIfAll featuredImage featuredImage.urlMd}}
                            <img src="{{featuredImage.urlMd}}" alt="" uk-cover>
                            {{else}}
                            <img src="https://source.unsplash.com/0gkw_9fy0eQ" alt="typewriter" uk-cover>
                            {{/checkIfAll}}
                            <canvas width="300" height="300"></canvas>
                        </div>

                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="{{author.avatarImage.url}}" alt="Avatar">
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{title}}</h3>
                                    <p class="uk-text-meta uk-margin-remove-top"><time>{{date createdAt "YYYY-MM-DD"}}</time></p>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card-body" uk-height-viewport="expand: true">
                            <p>{{excerpt}}</p>
                        </div>

                        <div class="uk-card-footer">
                            <a href="{{url}}" class="uk-button uk-button-text">Read more</a>
                        </div>
                    </div>
                </div>
                {{/checkIf}}
                {{/unless}}
            {{/each}}
        </div>
    </div>
</div>
{{! /Posts }}

{{> footer}}
